html,
.container {
  background: #1e2125;
}

.header {
  background-color: #1e2125d6 !important;
}


body {
  color: #98a5bb;
  background: #1e212544 !important;
}

.singer-type-list button {
  color: #8f9bb5 !important;
}

.singer-type-list button.active{
  color: #fff !important;
}

.container a {
  color: #6c69d8;
}

.singer-avatar img {
  box-shadow: none;
}

.singer-item img {
  box-shadow: 4px 4px 16px 4px rgba(112, 128, 151, 0.11);
}

.divider {
  border-top: 0.05rem solid #353638;
}

.divider[data-content]::after,
.divider-vert[data-content]::after {
  background: #ffffff00;
}

.btn {
  background: #fff0;
  border: 0.05rem solid #6c69d8;
  color: #6c69d8;
}

.btn:hover {
  background: #f1f1fc1f;
  border-color: #6c69d8;
  color: #6c69d8;
}

.playList-item img {
  box-shadow: 4px 4px 20px 4px rgba(112, 128, 151, 0.13) !important;
}

code.keys {
  background-color: #293663;
  color: #ffffff;
}

.login-status {
  color: #a2a0ff;
}

.form-input {
  background: #fff0;
  color: #bcc5d4;
}

::-webkit-scrollbar-track {
  background-color: #1e2125;
}

.over-bg {
  background-color: rgba(0, 0, 0, 0.6) !important;
}