.singer-type-list
  >.singer-country,>.singer-firstname
    p
      // font-family Orbitron
      display inline-block
      padding 3px 7px
      margin-left 6px
      margin-bottom 2px
      color #50596c
    a.active>p
      background #717ff9
      color #fff
      border-radius 10%
      box-shadow 4px 5px 7px 1px rgba(112,128,151,0.35)
  >.singer-country
    margin-bottom 3px
  >.singer-firstname
    p
      margin-left 8px
      padding 2px 7px