footerHeight = 75px 

.footer
  height footerHeight
  position fixed
  bottom 0px
  z-index 1000
  background #fff
  >div.controler
    display flex
    justify-content space-between
    div.singInfo
      display inline
    img
      display inline
    img.album
      margin 0px 0px 0px 3px
      margin-right 12px
      width footerHeight - 24
      height footerHeight - 24
      border-radius 20%
    img.playControler
      margin 6px 8px 8px 8px
      width footerHeight - 45
      height footerHeight - 45
    img.playControler-player
      margin 7px 4px 4px 4px
      width footerHeight - 35
      height footerHeight - 35
    div.play-time
      text-align right
      width 100px
      margin-top 18px
      span.current
        margin 16px 0px 0px 20px
  >input[type=range]
    width 100%
    height 2px
    -webkit-appearance none
    margin 0px
    background: linear-gradient(to right,#717ff9 0%, #717ff9 50%,#CABBE9 50%, #CABBE9 100%)
  >input[type=range]:focus
    outline none
  >input[type=range]::-webkit-slider-thumb
    -webkit-appearance none
    height 16px
    width 16px
    margin-top -8px
    background #ffffff
    border-radius 50%
    border solid 1px #cecece
  >input[type='range']::-webkit-slider-runnable-track{
    height: 2px;
    background: transparent;
  }