.titlebar
	position fixed
	top 0px
	margin 0
	padding 0
	background-color white
	-webkit-app-region drag
	-webkit-user-select none
	>.navbar-center
		margin-top 10px
		font-family Orbitron
		p
			font-size 18px
			color #5764c6
			text-shadow 4px 3px 18px
	.navbar-section
		.tab
			border-bottom none
		a.active
			img
				border-bottom solid 1px 5764c6
		img
			-webkit-app-region no-drag
			cursor pointer
			width 25px
			height 25px
			margin-left 8px
			margin-right 8px