@import './styl/*'

html
  height 100%
  >body
    margin 0
    height 100%
    >#root
      height 100%
      >.app
        height 100%
        > div, >header
          width 100%
        >div.container
          margin 65px 10px 75px 10px

a
  text-decoration none
  outline none
  &:focus, &:hover, &:active, &.active
    text-decoration none
    outline none
    box-shadow none

@font-face
  font-family Orbitron
  src url('../assets/font/Orbitron-Regular.ttf')