.singerAvastar
  display inline-block
  margin 15px 20px
  text-align center
  width 150px
  height 180px
  p
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
  img 
    width 150px
    height 150px
    border-radius 50%